/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
.header-info-btn{
    color: #FFF;
font-size: 17px;
font-weight: 700;
background-color: #E55473;
padding:12px 15px;
border: none;
}

/* this is header style */
.header-container{
    display: flex;
    justify-content:  center ; 
    align-items: end;
    background-color: rgba(229, 84, 115, 0.10);
    background-size:contain;
    gap:15px;
}
.header-info{
    padding: 125px 130px 75px 130px;
    text-align: left;
}
.header-info-head{
    color: #272727;
font-size: 50px;
font-weight: 800px;
}
.header-info-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 24px;
padding: 25px 0px;
}
.header-img{
    padding-right: 140px;
    padding-top: 45px;
}